@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
h1 {
    color: white;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
p {
    color: #F1B24A;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    
}
body {
    background-color: #4D774E;
  }
a {
    color: #F1B24A;
}
li {
    color:#F7DC6F;
    font-size: 25px;
    font-family: 'Lora', serif;
    font-weight: 600px;
}
dt {
    color: #F8C471;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
h2 {
    color: white;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
  }
.nav-bar-li {
    float: right;
    display: block;
    padding: 8px;
    text-decoration: none;
    margin: 0%;
}